name: Test and Deploy Report

on:
  push:
    # すべてのブランチへのプッシュで実行
    branches:
      - '**'
    paths:
      - 'src/**'
      - 'test/**'
      - 'jest.config.ts' # 設定ファイル変更時も走らせるのが安全です

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run Tests
        run: npm test
        continue-on-error: true

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html-report
          # 保存先ディレクトリをブランチ名にする
          destination_dir: ${{ steps.extract_branch.outputs.branch }}
          # 過去のブランチのレポートを消さないように設定
          keep_files: true