name: Run Test and Deploy Report

on:
  push:
    # すべてのブランチへのプッシュで実行
    branches:
      - '**'
    # src, test 配下、または jest.config.ts に変更があった場合のみ実行
    # paths:
    #   - './src/**'
    #   - './test/**'
    #   - './jest.config.ts'

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run Tests
        run: npm test
        continue-on-error: true

      - name: Extract branch name
        shell: bash
        id: extract_branch
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html-report
          destination_dir: ${{ steps.extract_branch.outputs.branch }}
          keep_files: true