name: Run Test and Deploy Report

on:
  push:
    # すべてのブランチへのプッシュで実行
    branches:
      - '**'
    paths:
      - 'src/**'
      - 'tests/**'
      - 'jest.config.ts'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run Tests
        run: npm test
        continue-on-error: true

      - name: Extract and sanitize branch name
        shell: bash
        id: extract_branch
        run: |
          BRANCH_NAME=$(echo "${GITHUB_REF#refs/heads/}" | sed 's/\//-/g')
          echo "branch=${BRANCH_NAME}" >> $GITHUB_OUTPUT

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output/html-report
          destination_dir: ${{ steps.extract_branch.outputs.branch }}
          keep_files: true